* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

html{
    font-size: 16px;
}

.header-container {
    background: chocolate;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.logo img {
    width: 20%;
}

.header-container nav {
    display: flex;
    align-items: center;
}

.header-container nav a {
    margin: 8px;
    border: 5px solid #000 ;
    border-radius: 50%;
    padding: 15px;
}

.header-container nav a:nth-child(3){
    padding-left: 25px;
    padding-right: 25px;
}

.header-container nav a:last-child{
    border-radius: 32px;
    padding: 16px 30px;
    height: 64px;
}


.hero-container {
 padding-top: 60px;
 align-items: center;
 text-align: center;
 background: chartreuse;
}

.hero-container video {
    border: 10px solid #000;
    border-radius: 1em;
}

.budge {
    margin-top: 20px;
}

.budge a {
    background-size: contain;
}

.budge img {
    width:190px;
    height: 70px;
}
.budge1 {
    vertical-align: middle;
    padding-right: 20px;
}
.budge2 {
    padding: 0;
    margin: 0;
}

.movie {
    border: solid 1px #000;    	
	outline: solid 1px #000;   
	outline-offset: 1px;        
	margin: 2px; 
}

.intro-container {
    background: yellowgreen;
}

.img-intro {
    text-align: center;
}

.imageText-intro {
    display: flex;
    text-align: center;
    justify-content: center;
}

.line-top hr {
    width: 200px;
    border: 0;
    border-bottom: 4px solid #333;
    margin-top: 100px;
    margin-left: 30px;
    padding: 0;
    transform: rotate(-20deg);
}

.text-intro h2{
    margin: 100px 70px;
}

.line-bottom hr {
    width: 200px;
    border: 0;
    border-top: 4px solid #333;
    margin-top: 100px;
    margin-left: 30px;
    padding: 0;
    transform: rotate(20deg);
}


.eventProduce-container {
    background: navajowhite;
    text-align: center;
}



.thanks p {
    text-align: center;
}

.return-top {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.return-top a {
    display: inline-block;
    padding: 10px 60px 10px 60px;
    background: #808080;
    border-radius: 30px 30px 0 0;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    opacity: .5;
}



/*========= レイアウトのためのCSS ===============*/

  
  /*========= particle js を描画するエリア設定 ===============*/
  
  #particles-js{ 
    position:absolute;
    z-index:1;
    width: 100%;
    height: 100%;
  }
  
  #wrapper{
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
  }