/*

 initialaizeのCSSここから


*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}



@font-face {
    font-family: 'main-font';
    src: url('../font/M_PLUS_1p/MPLUS1p-Medium.ttf');
}

html{
    font-size: 16px;
    font-family: 'main-font';
}
/*

ヘッダーコンテナーのCSSここから


*/
.header-container {
    background: chocolate;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
}

.logo img {
    width: 20%;
}

.header-container nav {
    display: flex;
    align-items: center;
}

.header-container nav a {
    margin: 8px;
    border: 5px solid #000 ;
    border-radius: 50%;
    padding: 15px;
}

.header-container nav a:nth-child(3){
    padding-left: 25px;
    padding-right: 25px;
}


/*

ヘッダーコンテナーのCSSここまで


*/

/*

ヒーローコンテナーのCSSここから


*/


.hero-container {
 padding-top: 60px;
 align-items: center;
 text-align: center;
 background: chartreuse;
 margin-bottom: 60px;
}

.hero-container h2 {
    font-weight: 200;
}

.hero-container h1 {
    font-weight: 900;
    font-size: 2.6em;
}

.hero-container video {
    border: 10px solid #000;
    border-radius: 1em;
}

.budge {
    margin-top: 20px;
}

.budge a {
    background-size: contain;
}

.budge img {
    width:190px;
    height: 70px;
}
.budge1 {
    vertical-align: middle;
    padding-right: 20px;
}
.budge2 {
    padding: 0;
    margin: 0;
}

/*

ヒーローコンテナーのCSSここまで


*/

/*

イントロコンテナーのCSSここから


*/

.intro-container {
    background: yellowgreen;
}

.img-intro {
    text-align: center;
}

.imagetext-intro {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:40px 0;
}

.line-top hr {
    width: 200px;
    border: 0;
    border-bottom: 4px solid #333;
    margin-left: 30px;
    padding: 0;
    transform: rotate(-20deg);
}

.text-intro h2{
    margin: 120px 70px;
}

.line-bottom hr {
    width: 200px;
    border: 0;
    border-top: 4px solid #333;
    margin-top: 100px;
    margin-left: 30px;
    padding: 0;
    transform: rotate(20deg);
}


/*

イントロコンテナーのCSSここまで


*/


/*

イベント照会コンテナーのCSSはここから


*/
.eventProduce-container {
    background: navajowhite;
    text-align: center;
    padding-bottom: 100px;
}

.play-movies {
    display: flex;
    justify-content: center;
}

.play-movies .movie:nth-child(2){
    margin: 0px 80px;
}

.movie img {
    width: 250px;
    border: solid 1px #000;    	
	outline: solid 1px #000;   
	outline-offset: 2px;
    border-radius: 2%;
    margin-bottom: 20px;         
}

.movie p {
    font-weight: 1000;
    font-size: 1.2em;
}



/*

イベント照会コンテナーのCSSはここまで


*/

/*

ダウンロードのCSSここから


*/
.download-container {
    background: hotpink;
    display: flex;
    justify-content: flex-end;

}

.link-texts {
    margin-top: 160px;
    margin-right: 200px;
}

.link-texts p{
    font-size: 2.2em;
    
}

.link-texts .budge {
    margin-top: 20px;
}

.link-texts .budge a {
    background-size: contain;
}

.link-texts .budge img {
    width:260px;
    height: 130px;
}
.link-texts .budge1 {
    vertical-align: middle;
    padding-right: 20px;
}
.link-texts .budge2 {
    padding: 0;
    margin: 0;
}

.download-image{
  
}

.pop-text {
 position: relative;
  padding: 40px 5px;
  width: 150px;
  height: 150px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  font-size: 1.5em;
  font-weight: bold;
  background: yellowgreen;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: -90px;
}

.pop-text::before {
    content: "";
    position: absolute;
    bottom: -8px;
    right: -8px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 24px solid yellowgreen;
    z-index: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.download-image img {
    margin-top: -120px;
    width: 80%;
}
/*

ダウンロードのCSSここまで


*/

/*

モンスターのこころのCSSここまで


*/
.monster-soul-container {
    text-align: center;
}

/*

ダウンロードのCSSここまで


*/
.thanks p {
    text-align: center;
}

.return-top {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.return-top a {
    display: inline-block;
    padding: 10px 60px 10px 60px;
    background: #808080;
    border-radius: 30px 30px 0 0;
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    opacity: .5;
}



/*========= レイアウトのためのCSS ===============*/

  
  /*========= particle js を描画するエリア設定 ===============*/
  
  #particles-js{ 
    position:absolute;
    z-index:1;
    width: 100%;
    height: 700px;

  }
  #wrapper{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  /*slick.jsのcss*/
  .slider img {
    margin-top: 100px;
    width: 100px;
    height: 100px;
  }

.slider02 img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
